
.form-container ,.login-image{
width: 50%;
}

.login-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.input-field {
  max-width: 380px;

}

.input-field i {
  text-align: center;
  line-height: 55px;
  color: #acacac;
  transition: 0.5s;
  font-size: 1rem;
}

.input-field input{
  line-height: 1;
  font-weight: 400;
  font-size: 1rem;
  color:rgb(30 58 138);
  text-transform: none;
  border-bottom: 2px solid transparent;
  transition: ease .3s border;
  outline:none
}

.input-field input::placeholder ,.input-field textarea::placeholder{
  color: #aaa;
  font-weight: 500;
}

.input-field input:focus,
.input-field input:-webkit-autofill {
  border-bottom-color:  rgb(30 58 138);
}





.toggle-container .content {
  color: #fff;
  transition: transform 0.9s ease-in-out;
  transition-delay: 0.6s;
}

